
*{
	padding: 0px;
	margin: 0px;

}

.container{
	

}



#slider{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 640px;
	background: #2AAD56;
}
#slider h2{
	margin-top: 40px;
	color: white;
	font-family: cursive;
	font-size: 25px;
	padding: 15px;

}
#content h1{
   color: white;
   font-family: cursive;
   font-size: 50px;
   padding: 10px;
}

#content p{
	color: white;
	font-size: 25px;
	text-align: center;
	padding: 10px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	

}

#search{
	
	width: 500px;
	height: 70px;
	display: flex;
	justify-content: space-around;
	border-radius: 10px;
}
#search input{
	width: 70%;
	font-size: 20px;
	padding: 10px;
	transition: all 1s;

}
#search input:hover{
	transform: scale(1.1);
}
#search button{
	width: 30%;
	background:  black;
	color: white;
	border: 0px;
	transition: all 1s;
}
#search button:hover{
	transform: scale(1.1);
}


#slider p{
	color: white;
	padding: 20px;
	width: 500px;
	margin-top: 30px;

}
#pic{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-bottom: 30px;
}


#rows{
	display: flex;
	margin-top: 150px;
	padding: 30px;
}
.item{
	flex-grow: 1;
}
.item h2{
	font-size: 30px;
}
.item span{
	font-size: 40px;
	padding: 20px;
}
.item p{
	font-size: 15px;
	padding: 10px;
}

#shop{
	width: 80%;
	margin: 60px auto;
	color: gray;
	display: flex;
	flex-direction: column;


}
#shop h1{
	font-weight: bolder;
	color: black;
	margin: 20px;
}
#shop p{
	text-align: center;
	font-size: 25px;
	margin-bottom: 20px;
}
#shop  a{
    width: 300px;
    align-self: center;
    background:  #2AAD56;
    color: white;
    border-radius: 10px;
    padding: 10px;
    transition: all 1s;

   


}
#shop a button{
	width: 100%;
	background:  #2AAD56;
	border:0px;


}

#shop a:hover{
	transform: scale(1.1);
}




#final{
	width: 100%;
	height: 400px;
	background:  #2AAD56;
	display: flex;
	padding: 30px;
	box-sizing: border-box;
}
#cnt{
	
	width: 60%;
	padding: 30px;
	box-sizing: border-box;

}
#cnt h1{
	color: white;
	margin: 20px;
}

#p2 {
     width: 30%;
	
	height: 500px;
	padding: 20px;
	box-sizing: border-box;

}
#cnt p{
	color: white;
	margin-bottom: 20px;
}
#cnt a{
	text-decoration: none;
	font-size: 20px;
}
#p2 img{
	width: 90%;
	height: 100%;
	box-shadow: 2px 2px 2px 1px gray;
}

#footer{
	margin-top: 80px;
	width: 80%;

	padding: 20px;
	margin-right: auto;
	margin-left: auto;
}

#footer ul{
	margin-top: 40px;
	list-style: none;
	display: flex;
	justify-content: space-around;

}
#footer ul li a{
	text-decoration: none;
	font-weight: bolder;
	font-size: 25px;
	color: black;
}



#contain5{
	background: black;
	width: 100%;
	height: 600px;
	padding: 40px;



}


form{
	display: flex;
	width: 100%;
	color: white;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	margin-top: 100px;

}
form h1{
	width: 550px;
}
form input{
	width: 500px;
	margin-bottom: 10px;
	padding: 15px;
}


input[placeholder]{
	font-size: 20px;
}

#contain5 p{
	color: white;
	width: 500px;
	margin: 10px;

}
form button{
	background:   #2AAD56;
	padding: 20px;
	border: 0px;
	border-radius: 5px;
	transition: all 1s;
}

form button:hover{
	transform: scale(1.1);
}